@import "tailwindcss";
@import "tw-animate-css";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@tailwind utilities;

@layer utilities {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@theme inline {
    --spacing-1440: 1440px;
    --text-10: 10px;
    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-22: 22px;
    --text-24: 24px;
    --text-26: 26px;
    --text-28: 28px;
    --text-29: 29px;
    --text-30: 30px;
    --text-31: 31px;
    --text-32: 32px;
    --text-33: 33px;
    --text-34: 34px;
    --text-36: 36px;
    --text-38: 38px;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-navbar: var(--navbar);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;

    --background: oklch(0.98 0 0); /* gray-50 */
    --foreground: oklch(0.10 0 0); /* gray-900 */
    --navbar: oklch(0.95 0 0); /* gray-100 */
    --card: oklch(0.99 0 0);
    --card-foreground: var(--foreground);
    --popover: oklch(0.99 0 0);
    --popover-foreground: var(--foreground);

    --primary: oklch(0.53 0 0); /* gray-500 */
    --primary-foreground: oklch(0.99 0 0); /* white */
    --secondary: oklch(0.87 0 0); /* gray-200 */
    --secondary-foreground: oklch(0.10 0 0); /* gray-900 */
    --accent: oklch(0.92 0 0); /* gray-100 */
    --accent-foreground: var(--foreground);
    --destructive: oklch(0.65 0.05 25); /* red-500 */

    --muted: oklch(0.87 0 0); /* gray-200 */
    --muted-foreground: oklch(0.40 0 0); /* gray-600 */

    --border: oklch(0.85 0 0); /* gray-300 */
    --input: oklch(0.99 0 0);
    --ring: oklch(0.60 0 0); /* gray-500 */

    --chart-1: oklch(0.53 0 0); /* gray-500 */
    --chart-2: oklch(0.73 0 0); /* gray-300 */
    --chart-3: oklch(0.87 0 0); /* gray-200 */
    --chart-4: oklch(0.33 0 0); /* gray-700 */
    --chart-5: oklch(0.67 0 0); /* gray-400 */

    --sidebar: oklch(0.95 0 0); /* gray-100 */
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
}

.dark {
    --background: oklch(0.15 0 0); /* gray-900 */
    --foreground: oklch(0.95 0 0); /* gray-50 */
    --navbar: oklch(0.20 0 0); /* gray-800 */
    --card: oklch(0.25 0 0);
    --card-foreground: var(--foreground);
    --popover: oklch(0.25 0 0);
    --popover-foreground: var(--foreground);

    --primary: oklch(0.73 0 0); /* gray-300 */
    --primary-foreground: oklch(0.10 0 0); /* gray-900 */
    --secondary: oklch(0.33 0 0); /* gray-700 */
    --secondary-foreground: var(--foreground);
    --accent: oklch(0.20 0 0); /* gray-800 */
    --accent-foreground: var(--foreground);
    --destructive: oklch(0.75 0.05 25); /* red-500 */

    --muted: oklch(0.30 0 0); /* gray-700 */
    --muted-foreground: oklch(0.70 0 0); /* gray-400 */

    --border: oklch(0.40 0 0); /* gray-600 */
    --input: oklch(0.25 0 0);
    --ring: oklch(0.70 0 0); /* gray-400 */

    --chart-1: oklch(0.73 0 0); /* gray-300 */
    --chart-2: oklch(0.50 0 0); /* gray-500 */
    --chart-3: oklch(0.33 0 0); /* gray-700 */
    --chart-4: oklch(0.87 0 0); /* gray-200 */
    --chart-5: oklch(0.67 0 0); /* gray-400 */

    --sidebar: oklch(0.18 0 0); /* gray-800 */
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
}


@layer base {
    * {
        @apply border-border outline-ring/50 text-foreground;
    }

    body {
        @apply relative;
    }

    #root {
        @apply min-h-svh w-full h-full flex flex-col bg-background relative;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

}

.overlay {
    --size: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    background-color: rgba(30, 144, 255, 1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    z-index: 100;
    will-change: transform, opacity;
}